<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://use.typekit.net/pxv3auw.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/index.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/about.css')}}">
    <title>Damon Ward</title>
</head>

<body>
    <div class="header-about">
        <div class="sidebar" id="home-sidebar">
            <a href="/">Home</a>
            <a href="/about" style="text-decoration: underline;">About</a>
            <a href="/education">Education</a>
            <a href="/projects">Projects</a>
            <a href="/interests">Interests</a>
        </div>
        <h1>Well now that that's out of the way...</h1>
    </div>

    <div class="body-section">

        <div class="profile-picture-container"><img class="pfp" src="./static/images/grad_photo.png"></div>

        <div class="about">
            <h2>About Me</h2>
            <p>I matriculated in 2016 with an interest in IT and so I applied at Stellenbosch University for enrolment in a degree in Computer Science.
                <br><br>
                I studied a BSc in Mathematical Science in Computer Science at Stellenbosch University and graduated in December 2020. I studied various subjects like Applied Mathematics, Mathematics, Probability Theory and Statistics, Operations Research, Scientific Computing, Economics and of course Computer Science.
                <br><br>
                I am currently studying my BSc Honours in Computer Science at Stellenbosch University that is scheduled to be completed in December 2021.
                <br><br>
                My previous work experience was in the hospitality industry. I worked at Dutch Haven Bistro as a waiter and barista and at Rocomamas Willowbridge as a waiter. Working as a waiter helped me improve my communication skills and taught me to be organized because I worked part-time while studying.
                <br><br>
                My hobbies and interests include: creating websites and mobile applications, reading, finances and almost all sports.
            </p>
        </div>
    </div>

    <div class="socials">
        <h2>My Links</h2>
        <div class="links">
            <a href="https://www.linkedin.com/in/damon-ward-48aa2118a" class="fa fa-linkedin"></a>
        </div>
    </div>
</body>

</html>