* {
    font-family: adobe-garamond-pro,serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}

.logo-container {
    height: 50px;
}

.logo {
    height: 200px;
}

.profile-picture-container {
    height: 300px;
}

.pfp {
    max-height: 100%;
    max-width: 100%;
}

.sidebar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.sidebar a:hover {
    color: grey;
    text-decoration: underline;
}

.profile-picture-container {
    margin-top: 20px;
}

.socials {
    width: 100%;
    height: 200px;
    background: url("../images/header.png");
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 20px;
    margin-top: 20px;
}

.links {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.links a:hover {
    color: lightskyblue;
}

/* Container for skill bars */
.ratings-container {
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-skills {
    width: 70%;
    background-color: grey;
}
  
.skills {
    text-align: left;
    display: flex;
    flex-direction: column;
    color: black; 
    padding: 10px;
    width: 50%;
}

.skills h2 {
    text-decoration: underline;
    font-weight: bold;
}
  
.java {height: 100%; width: 80%; background-color: lightskyblue;}
.html {height: 100%; width: 90%; background-color: lightskyblue;} 
.css {height: 100%; width: 90%; background-color: lightskyblue;}
.flutter {height: 100%; width: 70%; background-color: lightskyblue;} 
.python {height: 100%; width: 85%; background-color: lightskyblue;} 
.c {height: 100%; width: 60%; background-color: lightskyblue;} 

/* Container for tool bars */  
.git {height: 100%; width: 90%; background-color: lightcoral;}
.linux {height: 100%; width: 90%; background-color: lightcoral;} 
.microsoft {height: 100%; width: 90%; background-color: lightcoral;}
.agilescrum {height: 100%; width: 80%; background-color: lightcoral;} 

/* Container for langauges bars */
.english {height: 100%; width: 100%; background-color: lightgreen;}
.afrikaans {height: 100%; width: 70%; background-color: lightgreen;} 

@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }
    
    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}